<div class="row formContainer">
  <div
    class="container col-4 border border-3 rounded-3 border-dark-subtle mt-5 bg-dark-subtle"
  >
    <div class="col-10 offset-md-1">
      <img
        src="../../../assets/img/Logosdebase_laNewSchool.svg"
        class="img-fluid"
        alt="logo"
      />
      <form [formGroup]="resetform" (ngSubmit)="onSubmit()">
        <div class="form-group mt-4">
          <label class="form-label" for="email">Email</label>
          <input
            class="form-control"
            type="text"
            id="email"
            formControlName="email"
          />
          <small class="text-danger" *ngIf="email.touched">
            <ng-container *ngIf="email.hasError('required')">
              L'email est obligatoire.
            </ng-container>
            <ng-container *ngIf="email.hasError('email')">
              L'email n'est pas valide.
            </ng-container>
          </small>
        </div>

        <div class="text-center my-4">
          <button
            [disabled]="email.hasError('required') || email.hasError('email')"
            class="btn btn-primary text-dark btn btn-outline-dark"
            type="submit"
          >
            Réinitialiser mon mot de passe
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
